.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

@font-face {
    font-family: 'ralewaythin_italic';
    src: url('raleway-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('raleway-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaythin';
    src: url('raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4{
  font-family: 'Lato', sans-serif;
  color: #17abb3;
}
 h1{
  color: #fff;
 }

 h3{
  color: #333;
  margin-bottom: 0;
  font-weight: bold;
 }

 h2{
  margin-bottom: 0;
  margin-top: 1.3em;
 }

body {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  color: #333;
  width: 1160px;
}

.container {  
  width: 85%;
  margin: 0 auto;
  background-color: #e3e3e3;
}

header {
  background-color: #17abb3;
  display: flex ;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;  
  padding-right: 6em;
}

.profile-picture{  
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: 0.3em solid #fff;
  margin: auto 0;
}

.pro {
  background-color: #fff;
}

a{
  text-decoration: none;
  color:#fff;
}

hr {
  border: 0;
  height: 1px;
  background-color: #333;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 1em auto;
}

.contact-item{
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0.4em 0;
}

.icon {
  display: flex;
  flex-flow: row;
  margin-right: 0.5em;
}

.header-item{
  display: flex;
  justify-content: center;
}

.header-info {
  font-weight:bold;
}

main{
  display: flex;
}

section{
  padding:2.5em;
  padding-top: 0;
}

.aboutme{
  width: 40em;
}

.languages li{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin: 0.2em 0;
}

.languages{
  padding: 0;
}

.level {
  font-weight: normal;
}

.text-profile{
  text-indent:1em;
  text-align: justify;
}

.formations-experiences-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date{
  color: #17abb3;
}

ul {
  list-style: none;
  padding: 0;
}

footer {
  background-color: #17abb3;
  color: #fff;
  text-align: center;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
}

.github-icon {
  background: #fff;
  border-radius: 1em;
  border: solid 2px;
}

.datetime {
  font-weight: bold;
  margin-top: 0.5em;
}

.formations-items{
  margin: 1em;
}

.mousehover:hover{
  background:#e3e3e3;
  border-left-width: 5px;
  border-left-style: solid;
  border-color: #17abb3;
  padding: 0 0 0 0.5em;
}

.competences-list {
  font-weight: bold;
}

.formation-name {
  font-weight: bold;
}

.interests-list {
  list-style: square;
  list-style-position: inside;
}

.qualities-list {
  list-style: square;
  list-style-position: inside;
}