@import url('http://googleusercontent.com/css2?family=Lato:wght@400;700&display=swap');

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-VariableFont_wght\ \(convert.io\).woff'),
  url('../fonts/Raleway-Italic-VariableFont_wght\ \(convert.io\).woff');
}

h1, h2, h3, h4{
  font-family: 'Lato', sans-serif;
  color: #17abb3;
}
 h1{
  color: #fff;
 }

 h3{
  color: #333;
  margin-bottom: 0;
 }

body {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  color: #333;
  font-weight: bold;
  width: 1160px;
}

.container {  
  width: 85%;
  margin: 0 auto;
  background-color: #e3e3e3;
}

header {
  background-color: #17abb3;
  display: flex ;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;  
  padding-right: 6em;
}

.profile-picture{  
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: 0.3em solid #fff;
  margin: auto 0;
}

.pro {
  background-color: #fff;
}

a{
  text-decoration: none;
  color:#fff;
}

hr {
  border: 0;
  height: 1px;
  background-color: #333;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 1em auto;
}

.contact-item{
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0.4em 0;
}

.icon {
  display: flex;
  flex-flow: row center;
  margin-right: 0.5em;
}

.header-item{
  display: flex;
  justify-content: center;
}

.header-info {
  font-weight:bold;
}

main{
  display: flex;
}

section{
  padding:2.5em;
}

.aboutme{
  width: 40em;
}

.languages li{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin: 0.2em 0;
}

.languages{
  padding: 0;
}

.level {
  font-weight: normal;
}

.text-profile{
  text-indent:1em;
  text-align: justify;
}

.formations-experiences-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date{
  color: #17abb3;
}

ul {
  list-style: none;
  padding: 0;
}

footer {
  background-color: #17abb3;
  color: #fff;
  text-align: center;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
}

.github-icon {
  color: #fff;
}

.datetime {
  font-weight: bold;
  margin-top: 0.5em;
}

.formations-items{
  margin: 1em;
}

.mousehover:hover{
  background:#e3e3e3;
  border-left-width: 5px;
  border-left-style: solid;
  border-color: #17abb3;
  padding: 0 0 0 0.5em;
}