@import url('http://googleusercontent.com/css2?family=Lato:wght@400;700&display=swap');

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-VariableFont_wght\ \(convert.io\).woff'),
  url('../fonts/Raleway-Italic-VariableFont_wght\ \(convert.io\).woff');
}

h1, h2, h3, h4{
  font-family: 'Lato', sans-serif;
}

body {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  color: #333;
}

.container {  
  width: 1160px;
  margin: 0 auto;
  background-color: #e3e3e3;
}

header {
  background-color: #17abb3;
  display: flex ;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;  
  padding-right: 10em;
}

img{  
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: 0.3em solid #fff;
  margin: auto 0;
}

.pro {
  background-color: #fff;
}

a{
  text-decoration: none;
  color:#fff;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-item{
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0.5em 0;
}

.header-item{
  display: flex;
  justify-content: center;
}

.header-info {
  font-weight:bold;
}

main{
  display: flex;
}

section{
  padding:2.5em;
}

.aboutme{
  width: 40em;
}

.languages li{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin: 0.2em 0;
}

.languages{
  padding: 0;
}

.level {
  font-weight: normal;
}

.text-profile{
  text-indent:1em;
  text-align: justify;
}